<h1 class="font-weight-bold text-light bg-warning" align="center">WELLCOME MODERATOR</h1>

<div class="container bg-secondary">
    <h2 class="font-weight-bold">Changing product</h2>
    <h3>ID: {{currentProduct.id}}</h3>
    <h3>Title: {{currentProduct.title}}</h3>
    <form ng-submit="edit()">
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" step="0.01" class="form-control" maxlength="7" ng-model="currentProduct.price">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" maxlength="256" ng-model="currentProduct.description">
        </div>
            <button type="submit" class="btn btn-primary font-weight-bold">Submit changes</button>
    </form>
</div>