<h1 style="background-color: #6B8E23" class="font-weight-bold text-light" align="center">СОЗДАНИЕ НОВОГО ПРОДУКТА</h1>

<div class="container text-light" style="background-color: rgba(0, 100, 0, 0.6)">
   <form ng-submit="createProduct()">
      <div class="mb-3">
         <label class="form-label" style="font-size:30px;">Название</label>
         <input type="text" class="form-control"  ng-model="newProduct.title">
      </div>
      <div class="mb-3">
         <label class="form-label" style="font-size:30px;">Цена</label>
         <input type="number" step="0.01" class="form-control"  ng-model="newProduct.price">
      </div>
      <div class="mb-3">
         <label class="form-label" style="font-size:30px;">Описание</label>
         <input type="text" class="form-control" ng-model="newProduct.description">
      </div>
      <div class="mb-3">
         <label class="form-label" style="font-size:30px;">Штрихкод EAN13</label>
         <input type="text" class="form-control"  ng-model="newProduct.barcode">
      </div>
      <div>
         <h2>Выберите бренд:</h2>
         <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="Brand" size="2">
            <option ng-click = chooseBrand(brand) ng-repeat="brand in brandList">{{brand.title}}</option>
         </select>
      </div>
      <div>
         <h2>Выберите страну-производитель:</h2>
         <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="Country" size="2">
            <option ng-click = chooseCountry(country) ng-repeat="country in countryList">{{country.title}}</option>
         </select>
      </div>
      <div>
         <h2>Выберите категорию товара:</h2>
         <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="Category" size="2">
            <option ng-click = chooseCategory(category) ng-repeat="category in categoryList">{{category.title}}</option>
         </select>
      </div>

      <table class="table">
         <thead style="background-color: #6B8E23" class="font-weight-bold">
         <tr>
            <td>Выбранная категория</td>
         </tr>
         </thead>
         <tbody class="text-light" style="background-color: rgba(0, 170, 238, 0.9)">
         <tr ng-repeat="category in chosenCategoryList">
            <td>{{category.title}}</td>
         </tr>
         </tbody>
      </table>

<h1>   </h1>
      <div class="btn-group-lg  row justify-content-md-between"  style="margin-bottom:20px">
         <p class="btn btn-primary" ng-click="addCategory()">Добавить категорию</p>
         <p class="btn btn-danger" ng-click="removeCategory()">Удалить категорию</p>
      </div>
      <button type="submit" class="btn btn-primary font-weight-bold" style="font-size:30px;">Создать</button>
   </form>

</div>