<h1 style="background-color: #6B8E23" class="font-weight-bold text-light" align="center">ЗАКАЗЫ</h1>
<div align="center" ng-show="!hasOrders()">
    <h2 style="color: blue">Ещё не было оформлено ни одного заказа</h2>
    <img src="img/no_orders.ico">
</div>
<div ng-show="hasOrders()">
    <table class="table text-light" >
        <thead>
        <tr style=" background-color: rgba(0, 100, 0, 0.6)" style="font-size:30px;">
            <td style="font-size:25px;">ID</td>
            <td style="font-size:25px;">Цена</td>
            <td style="font-size:25px;">Адрес доставки</td>
            <td style="font-size:25px;">Телефон</td>
            <td style="font-size:25px;">Дата создания</td>
            <td style="font-size:25px;">Дата обновления</td>
            <td style="font-size:25px;">Статус</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="o in orders" style=" background-color: rgba(0, 170, 238, 0.6)" style="font-size:30px;">
            <td style="font-size:25px;">{{o.id}}</td>
            <td style="font-size:25px;">{{o.totalPrice}}</td>
            <td style="font-size:25px;">{{o.address}}</td>
            <td style="font-size:25px;">{{o.phone}}</td>
            <td style="font-size:25px;">{{o.createdAt}}</td>
            <td style="font-size:25px;">{{o.updateAt}}</td>
            <td style="font-size:25px;">{{o.statusName}}</td>
            <td>
                <button ng-class="isCurrentOrder(o.id) ? 'btn btn-danger' : 'btn  btn-info'"
                        ng-click="getOrderDetails(o)">
                    Подробнее
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div align="center" ng-show="navList[1]">
        <div class="container row px-lg-5 justify-content-md-center">
            <div class="col mx-lg-n5 " ng-repeat="p in navList">
                <a ng-class="isCurrentIndex(p) ? 'page-link alert alert-danger' : 'page-link alert alert-secondary' "
                   ng-click="loadOrders(p)">{{p}}</a>
            </div>
        </div>
    </div>

    <div ng-show="hasOrder()" class="text-light">
        <div style=" background-color: rgba(0, 100, 0, 0.6)" style="font-size:30px;">
            <h4>Заказ № {{order.id}}</h4>
            <h4>Адрес доставки: <i>{{order.address}}</i></h4>
            <h4>Телефон: <i>{{order.phone}}</i></h4>
            <h4>Дата создания: <i>{{order.createdAt}}</i></h4>
            <h4>Дата обновления: <i>{{order.updateAt}}</i></h4>
            <h4>Статус: <i>{{order.statusName}}</i></h4>
        </div>

        <table class="table text-light">
            <thead>
            <tr style=" background-color: rgba(0, 100, 0, 0.6)" style="font-size:30px;">
                <td style="font-size:25px;">Бренд</td>
                <td style="font-size:25px;">Страна-производитель</td>
                <td style="font-size:25px;">Название</td>
                <td style="font-size:25px;">Описание</td>
                <td style="font-size:25px;">Цена</td>
                <td style="font-size:25px;">Количество</td>
                <td style="font-size:25px;">Итоговая цена</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items" style=" background-color: rgba(0, 170, 238, 0.6)" style="font-size:30px;">
                <td style="font-size:25px;">{{item.product.brand.title}}</td>
                <td style="font-size:25px;">{{item.product.country.title}}</td>
                <td style="font-size:25px;">{{item.product.title}}</td>
                <td style="font-size:25px;">{{item.product.description}}</td>
                <td style="font-size:25px;">{{item.cost}}</td>
                <td style="font-size:25px;">{{item.quantity}}</td>
                <td style="font-size:25px;">{{(item.cost * item.quantity).toFixed(2)}}</td>
            </tr>
            </tbody>
        </table>
        <h3 style=" background-color: rgba(0, 100, 0, 0.6)">Стоимость заказа: <i>{{order.totalPrice}}</i></h3>
    </div>
    <!--    <div id="paypal-buttons"></div>-->

</div>
