<div class="container bg-secondary">
    <h1 class="font-weight-bold">Filter by price</h1>
    <form ng-submit="loadPage()">
        <div class="mb-3">
            <label class="form-label">Minimal price</label>
            <input type="number" step="0.01" class="form-control" maxlength="7" ng-model="filter.min">
        </div>
        <div class="mb-3">
            <label class="form-label">Maximal price</label>
            <input type="number" step="0.01" class="form-control" maxlength="7" ng-model="filter.max">
        </div>
        <div class="mb-3">
            <label class="form-label">Key word</label>
            <input type="text" class="form-control" ng-model="filter.title">
        </div>
        <div class="btn-group-lg  row justify-content-md-between">
            <button type="submit" class="btn btn-primary font-weight-bold">filter ON</button>
            <button class="btn btn-danger font-weight-bold" ng-click="clearFilter()">filter OFF</button>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-success" ng-click="addToCart(p.id)">add to cart</button>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="">edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div align="center" ng-show="navList[1]">
    <div class="container row px-lg-5 justify-content-md-center">
        <div class="col mx-lg-n5 " ng-repeat="p in navList">
            <a ng-class="isCurrentIndex(p) ? 'page-link alert alert-danger' : 'page-link alert alert-secondary' " ng-click="loadPage(p)">{{p}}</a>
        </div>
    </div>
</div>
