<h1 style="background-color: #6B8E23" class="font-weight-bold text-light" align="center">ВАША ТЕКУЩАЯ КОРЗИНА</h1>

<div class="container">
    <div align="center" ng-show="!cartIsFull()">
        <h2 style="background-color: #6B8E23" class="font-weight-bold text-light" align="center">товары ещё не были добавлены</h2>
        <img src="img/no_products.ico">
    </div>
    <div ng-show="cartIsFull()">
        <h2 class="text-light"  style=" background-color: rgba(0, 100, 0, 0.6)" align="center">Корзина будет очищена {{cart.deathTimeString}}</h2>
        <table class="table">
            <thead style="background-color: #6B8E23" class="font-weight-bold">
            <tr>
                <td>Бренд</td>
                <td>Страна производитель</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Итоговая цена</td>
                <td>Доступно</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody class="text-light" style="background-color: rgba(0, 170, 238, 0.9)">
            <tr ng-repeat="item in cart.items">
                <td>{{item.product.brand.title}}</td>
                <td>{{item.product.country.title}}</td>
                <td>{{item.product.title}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.product.price}}</td>
                <td>{{item.product.quentity}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="incrementCartPosition(item.product)">+</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="decrementCartPosition(item.product)">-</button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="removeItemFromCart(item.product.id)">Удалить позицию</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h5 style="background-color: rgba(0, 170, 238, 0.9)">Итоговое количество: {{cart.totalQuantity}}</h5>
        <h5 style="background-color: rgba(0, 170, 238, 0.9)">Итоговая цена: {{cart.totalPrice}}</h5>
        <form ng-submit="createOrder()">
            <div class="form-group col-md-6">
                <label for="destinationField">Адресс доставки</label>
                <input class="form-control" type="text" ng-model="order_info.address" id="destinationField">
            </div>
            <p></p>
            <div class="form-group col-md-6">
                <label for="phoneField">Контактный телефон</label>
                <input class="form-control" type="text" ng-model="order_info.phone" id="phoneField">
            </div>
            <p></p>
            <div class="btn-group-lg  row justify-content-md-between">
                <button class="btn btn-primary" type="submit">Подтвердить заказ</button>
                <button class="btn btn-danger" ng-click="clearCart()">Очистить корзину</button>
            </div>
        </form>
    </div>
</div>